
  @import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color:black;
    color:aliceblue
}

nav ul li{
    padding: 0 12px;
}

.brand image{
    width: 12px;
    padding: 0 12px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23 px;
    width:70%;
    border-radius: 12 px;
    padding: 34 px;
    background-image: url('cover.jpeg');
    align-self: center;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}

.icons i{
    cursor:pointer
}

#myProgressBar{
    width: 1000 vw;
    text-align: center;
}

.songItemContainer{
    margin-top: 200px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color:black;
    margin: 12 px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 33px;
    height: 33px;
    margin: 25px 23 px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

